.list-container {
  margin-top: 25px;
}

.input-field>label {
 left: 70%;
 color:black;
 font-size: 10px;
}
.txtBut {
 padding: 10px;
 margin-right: 10px;
 margin-top: 10px;
}
.fixed-action-btn {
    top: 0px !important;
    padding-top: 0px !important;
    height: 50px;
}
input[type=number] {
  width: 80px !important;
  display:inline-block;
  border: 1px solid gray !important;
}

input[type="checkbox"] {
  position: relative !important;
  opacity: 1 !important;
  pointer-events: all !important;
}

.list-item {
  margin-top: 10px;
  color: white;
  transition: background-color 1s;
}

.list-item h4 {
  padding-left: 25px;
  padding-bottom: 5px;
}

.list-item:hover {
  background-color: #26a69a !important;
}

.complete-item {
  float: right;
  right: 10px;
  top: 15px;
}

#add-form {
  animation-duration: 1s;
  animation-name: slidein;
}

#nothing-was-found {
  margin-top: 150px;
}

#sign-out-button {
  margin-right: 15px;
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    margin-left: 1;
  }
}
